<div>
  <h1 class="title">
    Patryk Bura recruitment 
  </h1>
  <p class="subtitle">
    See links to specific tasks below
  </p>
  <h2>
    <a href="/checkout">Checkout task</a>
  </h2>
  <ul>
    <li>
      Email frontend validation was disabled to allow verification of Task 4<br/>
      but can be restored in <code>definitions/FormDefinition.js</code>
    </li>
  </ul>
  <h2>
    <a href="/bacon">Bacon task</a>
  </h2>
</div>