label {
  font-size: 0.8em;
  color: black;
  font-weight: 500;
}

input[type=text],
input[type=password]{
  width: 100%;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  font-size: 1.2em;
  margin-top: 0.1em;
}

textarea:focus, input:focus{
  outline: none;
}